.Background {
  background-image: url('https://img.freepik.com/free-photo/business-man-owner-company-office_1303-16046.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
 margin-top: 50px;
 
  align-items: center;
}
.Homepage{
    width: 80%;
    transform: translateY(100px);
    height: 400px;
    margin:0px 10% 0px 5% ;
    
}
.form{
    height: 400px;
    width: 50%;
    float: left;
}
.information{
    width: 50%;
    height: 400px;
    float: left;
    
}
form{
    width: 60%;
    padding: 30px;
    margin: 0% 20% 0% 20%;
    font-size: 25px;
    font-weight: bold;

}
input{
    width: 80%;
    height: 30px;
    background-color: rgb(204, 220, 236);
    border: none;
    font-size: 20px;

}

button{
   width: 30%;
   height:30px;
   font-size: 20px;
   
}
.hh{
    text-align: justify;
    font-weight: bold;
    font-size: 40px;
    margin-top: 170px;
}
.h1{
  text-align: justify;
    font-weight: bold;
    font-size: 40px;
}
.d{
font-size: 20px;
}
.longtext{
    text-align: justify;
    font-size:20px ;
}
