body{
  margin: 0%;
  
}
.navbar{
 
 width: 100%;
 height: 50px;
background-color: bisque;
position: fixed;
top: 0px;
overflow: hidden;
} 
.navbar a{
 float: right;
 margin-top: 11px;
 height: 30px;
 width:100px;
 text-decoration: none;
 text-align:center;
}
.navbar a:hover{
color: chocolate;
  text-decoration:underline;

}


.magic{
  width: 43px;
  margin-left: 30px;
}
